<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Tokyo</string>
		<key>lat</key>
		<real>35.685</real>
		<key>lon</key>
		<real>139.7514</real>
	</dict>
	<dict>
		<key>name</key>
		<string>New York</string>
		<key>lat</key>
		<real>40.6943</real>
		<key>lon</key>
		<real>-73.92489999999999</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Mexico City</string>
		<key>lat</key>
		<real>19.4424</real>
		<key>lon</key>
		<real>-99.131</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Mumbai</string>
		<key>lat</key>
		<real>19.017</real>
		<key>lon</key>
		<real>72.857</real>
	</dict>
	<dict>
		<key>name</key>
		<string>São Paulo</string>
		<key>lat</key>
		<real>-23.5587</real>
		<key>lon</key>
		<real>-46.625</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Delhi</string>
		<key>lat</key>
		<real>28.67</real>
		<key>lon</key>
		<real>77.23</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Shanghai</string>
		<key>lat</key>
		<real>31.2165</real>
		<key>lon</key>
		<real>121.4365</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Kolkata</string>
		<key>lat</key>
		<real>22.495</real>
		<key>lon</key>
		<real>88.32470000000001</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Los Angeles</string>
		<key>lat</key>
		<real>34.1139</real>
		<key>lon</key>
		<real>-118.4068</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Dhaka</string>
		<key>lat</key>
		<real>23.7231</real>
		<key>lon</key>
		<real>90.40860000000001</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Buenos Aires</string>
		<key>lat</key>
		<real>-34.6025</real>
		<key>lon</key>
		<real>-58.3975</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Karachi</string>
		<key>lat</key>
		<real>24.87</real>
		<key>lon</key>
		<real>66.98999999999999</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Cairo</string>
		<key>lat</key>
		<real>30.05</real>
		<key>lon</key>
		<real>31.25</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Rio de Janeiro</string>
		<key>lat</key>
		<real>-22.925</real>
		<key>lon</key>
		<real>-43.225</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Ōsaka</string>
		<key>lat</key>
		<real>34.75</real>
		<key>lon</key>
		<real>135.4601</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Beijing</string>
		<key>lat</key>
		<real>39.9289</real>
		<key>lon</key>
		<real>116.3883</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Manila</string>
		<key>lat</key>
		<real>14.6042</real>
		<key>lon</key>
		<real>120.9822</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Moscow</string>
		<key>lat</key>
		<real>55.7522</real>
		<key>lon</key>
		<real>37.6155</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Istanbul</string>
		<key>lat</key>
		<real>41.105</real>
		<key>lon</key>
		<real>29.01</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Paris</string>
		<key>lat</key>
		<real>48.8667</real>
		<key>lon</key>
		<real>2.3333</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Seoul</string>
		<key>lat</key>
		<real>37.5663</real>
		<key>lon</key>
		<real>126.9997</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Lagos</string>
		<key>lat</key>
		<real>6.4433</real>
		<key>lon</key>
		<real>3.3915</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Jakarta</string>
		<key>lat</key>
		<real>-6.1744</real>
		<key>lon</key>
		<real>106.8294</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Guangzhou</string>
		<key>lat</key>
		<real>23.145</real>
		<key>lon</key>
		<real>113.325</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Chicago</string>
		<key>lat</key>
		<real>41.8373</real>
		<key>lon</key>
		<real>-87.6862</real>
	</dict>
	<dict>
		<key>name</key>
		<string>London</string>
		<key>lat</key>
		<real>51.5</real>
		<key>lon</key>
		<real>-0.1167</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Lima</string>
		<key>lat</key>
		<real>-12.048</real>
		<key>lon</key>
		<real>-77.0501</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Tehran</string>
		<key>lat</key>
		<real>35.6719</real>
		<key>lon</key>
		<real>51.4243</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Kinshasa</string>
		<key>lat</key>
		<real>-4.3297</real>
		<key>lon</key>
		<real>15.315</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Bogotá</string>
		<key>lat</key>
		<real>4.5964</real>
		<key>lon</key>
		<real>-74.08329999999999</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Shenzhen</string>
		<key>lat</key>
		<real>22.5524</real>
		<key>lon</key>
		<real>114.1221</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Wuhan</string>
		<key>lat</key>
		<real>30.58</real>
		<key>lon</key>
		<real>114.27</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Hong Kong</string>
		<key>lat</key>
		<real>22.305</real>
		<key>lon</key>
		<real>114.185</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Tianjin</string>
		<key>lat</key>
		<real>39.13</real>
		<key>lon</key>
		<real>117.2</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Chennai</string>
		<key>lat</key>
		<real>13.09</real>
		<key>lon</key>
		<real>80.28</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Taipei</string>
		<key>lat</key>
		<real>25.0358</real>
		<key>lon</key>
		<real>121.5683</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Bengalūru</string>
		<key>lat</key>
		<real>12.97</real>
		<key>lon</key>
		<real>77.56</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Bangkok</string>
		<key>lat</key>
		<real>13.75</real>
		<key>lon</key>
		<real>100.5166</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Lahore</string>
		<key>lat</key>
		<real>31.56</real>
		<key>lon</key>
		<real>74.34999999999999</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Chongqing</string>
		<key>lat</key>
		<real>29.565</real>
		<key>lon</key>
		<real>106.595</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Miami</string>
		<key>lat</key>
		<real>25.7839</real>
		<key>lon</key>
		<real>-80.2102</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Hyderabad</string>
		<key>lat</key>
		<real>17.4</real>
		<key>lon</key>
		<real>78.48</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Dallas</string>
		<key>lat</key>
		<real>32.7936</real>
		<key>lon</key>
		<real>-96.7662</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Santiago</string>
		<key>lat</key>
		<real>-33.45</real>
		<key>lon</key>
		<real>-70.667</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Philadelphia</string>
		<key>lat</key>
		<real>40.0077</real>
		<key>lon</key>
		<real>-75.1339</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Belo Horizonte</string>
		<key>lat</key>
		<real>-19.915</real>
		<key>lon</key>
		<real>-43.915</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Madrid</string>
		<key>lat</key>
		<real>40.4</real>
		<key>lon</key>
		<real>-3.6834</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Houston</string>
		<key>lat</key>
		<real>29.7869</real>
		<key>lon</key>
		<real>-95.3905</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Ahmadābād</string>
		<key>lat</key>
		<real>23.0301</real>
		<key>lon</key>
		<real>72.58</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Ho Chi Minh City</string>
		<key>lat</key>
		<real>10.78</real>
		<key>lon</key>
		<real>106.695</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Washington</string>
		<key>lat</key>
		<real>38.9047</real>
		<key>lon</key>
		<real>-77.0163</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Atlanta</string>
		<key>lat</key>
		<real>33.7627</real>
		<key>lon</key>
		<real>-84.4225</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Toronto</string>
		<key>lat</key>
		<real>43.7</real>
		<key>lon</key>
		<real>-79.42</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Singapore</string>
		<key>lat</key>
		<real>1.293</real>
		<key>lon</key>
		<real>103.8558</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Luanda</string>
		<key>lat</key>
		<real>-8.8383</real>
		<key>lon</key>
		<real>13.2344</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Baghdad</string>
		<key>lat</key>
		<real>33.3386</real>
		<key>lon</key>
		<real>44.3939</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Barcelona</string>
		<key>lat</key>
		<real>41.3833</real>
		<key>lon</key>
		<real>2.1834</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Hāora</string>
		<key>lat</key>
		<real>22.5804</real>
		<key>lon</key>
		<real>88.32989999999999</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Shenyang</string>
		<key>lat</key>
		<real>41.805</real>
		<key>lon</key>
		<real>123.45</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Khartoum</string>
		<key>lat</key>
		<real>15.5881</real>
		<key>lon</key>
		<real>32.5342</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Pune</string>
		<key>lat</key>
		<real>18.53</real>
		<key>lon</key>
		<real>73.84999999999999</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Boston</string>
		<key>lat</key>
		<real>42.3188</real>
		<key>lon</key>
		<real>-71.08459999999999</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Sydney</string>
		<key>lat</key>
		<real>-33.92</real>
		<key>lon</key>
		<real>151.1852</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Saint Petersburg</string>
		<key>lat</key>
		<real>59.939</real>
		<key>lon</key>
		<real>30.316</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Chittagong</string>
		<key>lat</key>
		<real>22.33</real>
		<key>lon</key>
		<real>91.8</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Dongguan</string>
		<key>lat</key>
		<real>23.0489</real>
		<key>lon</key>
		<real>113.7447</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Riyadh</string>
		<key>lat</key>
		<real>24.6408</real>
		<key>lon</key>
		<real>46.7727</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Hanoi</string>
		<key>lat</key>
		<real>21.0333</real>
		<key>lon</key>
		<real>105.85</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Guadalajara</string>
		<key>lat</key>
		<real>20.67</real>
		<key>lon</key>
		<real>-103.33</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Melbourne</string>
		<key>lat</key>
		<real>-37.82</real>
		<key>lon</key>
		<real>144.975</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Alexandria</string>
		<key>lat</key>
		<real>31.2</real>
		<key>lon</key>
		<real>29.95</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Chengdu</string>
		<key>lat</key>
		<real>30.67</real>
		<key>lon</key>
		<real>104.07</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Rangoon</string>
		<key>lat</key>
		<real>16.7834</real>
		<key>lon</key>
		<real>96.16670000000001</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Phoenix</string>
		<key>lat</key>
		<real>33.5722</real>
		<key>lon</key>
		<real>-112.0891</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Xi’an</string>
		<key>lat</key>
		<real>34.275</real>
		<key>lon</key>
		<real>108.895</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Porto Alegre</string>
		<key>lat</key>
		<real>-30.05</real>
		<key>lon</key>
		<real>-51.2</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Sūrat</string>
		<key>lat</key>
		<real>21.2</real>
		<key>lon</key>
		<real>72.84</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Hechi</string>
		<key>lat</key>
		<real>23.0965</real>
		<key>lon</key>
		<real>109.6091</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Abidjan</string>
		<key>lat</key>
		<real>5.32</real>
		<key>lon</key>
		<real>-4.04</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Brasília</string>
		<key>lat</key>
		<real>-15.7833</real>
		<key>lon</key>
		<real>-47.9161</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Ankara</string>
		<key>lat</key>
		<real>39.9272</real>
		<key>lon</key>
		<real>32.8644</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Monterrey</string>
		<key>lat</key>
		<real>25.67</real>
		<key>lon</key>
		<real>-100.33</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Yokohama</string>
		<key>lat</key>
		<real>35.32</real>
		<key>lon</key>
		<real>139.58</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Nanjing</string>
		<key>lat</key>
		<real>32.05</real>
		<key>lon</key>
		<real>118.78</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Montréal</string>
		<key>lat</key>
		<real>45.5</real>
		<key>lon</key>
		<real>-73.58329999999999</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Guiyang</string>
		<key>lat</key>
		<real>26.58</real>
		<key>lon</key>
		<real>106.72</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Recife</string>
		<key>lat</key>
		<real>-8.0756</real>
		<key>lon</key>
		<real>-34.9156</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Seattle</string>
		<key>lat</key>
		<real>47.6211</real>
		<key>lon</key>
		<real>-122.3244</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Harbin</string>
		<key>lat</key>
		<real>45.75</real>
		<key>lon</key>
		<real>126.65</real>
	</dict>
	<dict>
		<key>name</key>
		<string>San Francisco</string>
		<key>lat</key>
		<real>37.7562</real>
		<key>lon</key>
		<real>-122.443</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Fortaleza</string>
		<key>lat</key>
		<real>-3.75</real>
		<key>lon</key>
		<real>-38.58</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Zhangzhou</string>
		<key>lat</key>
		<real>24.5204</real>
		<key>lon</key>
		<real>117.67</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Detroit</string>
		<key>lat</key>
		<real>42.3834</real>
		<key>lon</key>
		<real>-83.1024</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Salvador</string>
		<key>lat</key>
		<real>-12.97</real>
		<key>lon</key>
		<real>-38.48</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Busan</string>
		<key>lat</key>
		<real>35.0951</real>
		<key>lon</key>
		<real>129.01</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Johannesburg</string>
		<key>lat</key>
		<real>-26.17</real>
		<key>lon</key>
		<real>28.03</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Berlin</string>
		<key>lat</key>
		<real>52.5218</real>
		<key>lon</key>
		<real>13.4015</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Algiers</string>
		<key>lat</key>
		<real>36.7631</real>
		<key>lon</key>
		<real>3.0506</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Rome</string>
		<key>lat</key>
		<real>41.896</real>
		<key>lon</key>
		<real>12.4833</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Pyongyang</string>
		<key>lat</key>
		<real>39.0194</real>
		<key>lon</key>
		<real>125.7547</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Medellín</string>
		<key>lat</key>
		<real>6.275</real>
		<key>lon</key>
		<real>-75.575</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Kabul</string>
		<key>lat</key>
		<real>34.5167</real>
		<key>lon</key>
		<real>69.1833</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Athens</string>
		<key>lat</key>
		<real>37.9833</real>
		<key>lon</key>
		<real>23.7333</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Nagoya</string>
		<key>lat</key>
		<real>35.155</real>
		<key>lon</key>
		<real>136.915</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Cape Town</string>
		<key>lat</key>
		<real>-33.92</real>
		<key>lon</key>
		<real>18.435</real>
	</dict>
	<dict>
		<key>name</key>
		<string>San Diego</string>
		<key>lat</key>
		<real>32.8312</real>
		<key>lon</key>
		<real>-117.1225</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Changchun</string>
		<key>lat</key>
		<real>43.865</real>
		<key>lon</key>
		<real>125.34</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Casablanca</string>
		<key>lat</key>
		<real>33.6</real>
		<key>lon</key>
		<real>-7.6164</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Dalian</string>
		<key>lat</key>
		<real>38.9228</real>
		<key>lon</key>
		<real>121.6298</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Cawnpore</string>
		<key>lat</key>
		<real>26.46</real>
		<key>lon</key>
		<real>80.31999999999999</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Kano</string>
		<key>lat</key>
		<integer>12</integer>
		<key>lon</key>
		<real>8.52</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Tel Aviv-Yafo</string>
		<key>lat</key>
		<real>32.08</real>
		<key>lon</key>
		<real>34.77</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Addis Ababa</string>
		<key>lat</key>
		<real>9.033300000000001</real>
		<key>lon</key>
		<real>38.7</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Curitiba</string>
		<key>lat</key>
		<real>-25.42</real>
		<key>lon</key>
		<real>-49.32</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Zibo</string>
		<key>lat</key>
		<real>36.8</real>
		<key>lon</key>
		<real>118.05</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Jeddah</string>
		<key>lat</key>
		<real>21.5169</real>
		<key>lon</key>
		<real>39.2192</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Nairobi</string>
		<key>lat</key>
		<real>-1.2833</real>
		<key>lon</key>
		<real>36.8167</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Hangzhou</string>
		<key>lat</key>
		<real>30.25</real>
		<key>lon</key>
		<real>120.17</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Benoni</string>
		<key>lat</key>
		<real>-26.1496</real>
		<key>lon</key>
		<real>28.3299</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Caracas</string>
		<key>lat</key>
		<real>10.501</real>
		<key>lon</key>
		<real>-66.917</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Milan</string>
		<key>lat</key>
		<real>45.47</real>
		<key>lon</key>
		<real>9.205</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Stuttgart</string>
		<key>lat</key>
		<real>48.78</real>
		<key>lon</key>
		<real>9.199999999999999</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Kunming</string>
		<key>lat</key>
		<real>25.07</real>
		<key>lon</key>
		<real>102.68</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Dar es Salaam</string>
		<key>lat</key>
		<real>-6.8</real>
		<key>lon</key>
		<real>39.2683</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Minneapolis</string>
		<key>lat</key>
		<real>44.9635</real>
		<key>lon</key>
		<real>-93.26779999999999</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Jaipur</string>
		<key>lat</key>
		<real>26.9211</real>
		<key>lon</key>
		<real>75.81</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Taiyuan</string>
		<key>lat</key>
		<real>37.875</real>
		<key>lon</key>
		<real>112.5451</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Frankfurt</string>
		<key>lat</key>
		<real>50.1</real>
		<key>lon</key>
		<real>8.675000000000001</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Qingdao</string>
		<key>lat</key>
		<real>36.09</real>
		<key>lon</key>
		<real>120.33</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Surabaya</string>
		<key>lat</key>
		<real>-7.2492</real>
		<key>lon</key>
		<real>112.7508</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Lisbon</string>
		<key>lat</key>
		<real>38.7227</real>
		<key>lon</key>
		<real>-9.1449</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Tampa</string>
		<key>lat</key>
		<real>27.9942</real>
		<key>lon</key>
		<real>-82.4451</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Jinan</string>
		<key>lat</key>
		<real>36.675</real>
		<key>lon</key>
		<real>116.995</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Fukuoka</string>
		<key>lat</key>
		<real>33.595</real>
		<key>lon</key>
		<real>130.41</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Campinas</string>
		<key>lat</key>
		<real>-22.9</real>
		<key>lon</key>
		<real>-47.1</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Denver</string>
		<key>lat</key>
		<real>39.7621</real>
		<key>lon</key>
		<real>-104.8759</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Kaohsiung</string>
		<key>lat</key>
		<real>22.6333</real>
		<key>lon</key>
		<real>120.2666</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Quezon City</string>
		<key>lat</key>
		<real>14.6504</real>
		<key>lon</key>
		<real>121.03</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Katowice</string>
		<key>lat</key>
		<real>50.2604</real>
		<key>lon</key>
		<real>19.02</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Aleppo</string>
		<key>lat</key>
		<real>36.23</real>
		<key>lon</key>
		<real>37.17</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Durban</string>
		<key>lat</key>
		<real>-29.865</real>
		<key>lon</key>
		<real>30.98</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Kyiv</string>
		<key>lat</key>
		<real>50.4334</real>
		<key>lon</key>
		<real>30.5166</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Lucknow</string>
		<key>lat</key>
		<real>26.855</real>
		<key>lon</key>
		<real>80.91500000000001</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Giza</string>
		<key>lat</key>
		<real>30.01</real>
		<key>lon</key>
		<real>31.19</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Zhengzhou</string>
		<key>lat</key>
		<real>34.755</real>
		<key>lon</key>
		<real>113.6651</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Taichung</string>
		<key>lat</key>
		<real>24.1521</real>
		<key>lon</key>
		<real>120.6817</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Brooklyn</string>
		<key>lat</key>
		<real>40.6501</real>
		<key>lon</key>
		<real>-73.9496</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Ibadan</string>
		<key>lat</key>
		<real>7.38</real>
		<key>lon</key>
		<real>3.93</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Faisalabad</string>
		<key>lat</key>
		<real>31.41</real>
		<key>lon</key>
		<real>73.11</real>
	</dict>
</array>
</plist>
